extends layout 
block content 
    h1 LOGIN
    form(action="/LogInForm", method="post")
        label(for="") namE 
        input(type="text", name="LogInName")  
        label(for="") email
        input(type="email", name="LogInEmail") 
        input(type="submit", value="LOGIN")
    p New hear? go to 
        a(href="/") SIGN-UP 