doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="style.css")
        script(defer src="script.js") 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        div(class="blue") 
            h1 Sign In / Sign Up / Sign Out example 
            p WEB course 2023
        block content 
        