<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SEARCH user</h1>
    <form action="" method="post">
        <label for="">Enter user name</label>
        <input type="text" name="SearchName">
        <input type="submit" value="SEARCH">
    </form>
</body>
</html>