<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="SignInForm">
        <form action="/formA" method="get">
            <label for="">Name:</label>
            <input type="text" name="UserName" id="">
            <label for="">choose your color</label>
            <input type="color" name="UserColor" id="">
            <input type="submit" value="ENTER">
        </form>
    </div>
    <div id="FormB">
        <p>hi </p>
        <p id="userName"></p>
        <p>this is another form</p>
    </div>
    
</body>
</html>