extends layout 
block content 
    h1 links to create DB 
    h3 pls click all the links below 
    ol 
        li 
            a(href="/createTable") link to create table 
        li 
            a(href="/insert") link to insert data into table
        li 
            a(href="/show") link to shoe table 
        li 
            a(href="/dropTable") link to drop table   