doctype html
html(lang="en")
    head
        script(defer src="") 
        link(rel="stylesheet", href="style.css")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div 
            h1 LOGO 
            h3 tag line
        block content 
        div     
            p WEB course BGU 2023